h1 {
  text-align: center;
  background-image: url(July2007.jpg);
  color: black;
  border-radius: 5%;
  margin-left: 25%;
  margin-right: 25%;
}

h2 {
  text-align: center;
  font-family: 'Bree Serif', serif;
}

body {
  background-color: #9E015F;
  background-size: cover;
  text-align: center;
  font-family: 'Bree Serif', serif;
  color: #BAF9D3;
}

.links {
  max-width: 100%;
  text-decoration: none;
  list-style-type: none;
  border: 1px black solid;
  display: inline-block;
}

.extra {
  max-width: 100%;
  text-decoration: none;
  list-style-type: none;
  border: 1px black solid;
  display: inline-block;
}

@media (max-width: 600px) {
  body {
    font-size: 1rem;
    background-image:
  }


}


@media (min-width: 900px) {
  body {font-size: 1.5rem;
  }


}



