* {

}
body {
  margin-top: auto;
  margin-left: 0;
  width: 100%;
  height: 100%;
  background-color: #B2B24A;
}
#header {
  width: 100%;
  height: 50px;
  margin-left: 0;
  background-color: #5CACFF;
  border: #B2B24A solid;
}

#abovePic {
  position: relative;
  width: 100%;
  height: 90px;
  border: solid black;
  margin-top: 2%;
  background-color:
}

#profPic {
    width: 30%;
    height: 275px;
    margin-top: 2%;
    margin-left: 10%;
    background-image: url(pics/seriousProfessional.jpg);
    background-size: cover;
    border-radius: 20%;
}

#belowPic {
    position: relative;
    width: 80%;
    height: 310px;
    border: solid black;
    margin-top: 2%;
    margin-left: 20%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 200%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 200%;
    background-color: #70BD06;
}

#beneathBelow {
    position: relative;
    width: 80%;
    height: 310px;
    border: solid black;
    margin-top: -5%;
    margin-right: 50%;
    border-left: 10%;
    border-bottom-right-radius: 200%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 200%;
    border-top-left-radius: 50%;
    background-color: #FF0D07;
}
